<ion-view title="Ozone RGB Color" id="page1">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <button id="ozoneRGBColor-button44" style="color:#00000;" class="button button-balanced  button-block icon ion-android-bulb"></button>
        </div>
        <div class="button-bar">
            <button id="ozoneRGBColor-button53" style="color:#000000;" class="button button-stable  button-block">All</button>
            <button id="ozoneRGBColor-button4" style="color:#000000;" class="button button-stable  button-block">W</button>
            <button id="ozoneRGBColor-button5" style="color:#000000;" class="button button-stable  button-block">TV</button>
            <button id="ozoneRGBColor-button6" style="color:#000000;" class="button button-stable  button-block">K</button>
        </div>
        <div class="button-bar">
            <button id="ozoneRGBColor-button47" style="color:#00000;" class="button button-stable  button-block icon ion-android-arrow-dropup"></button>
            <button id="ozoneRGBColor-button49" style="color:#00000;" class="button button-stable  button-block icon ion-android-arrow-dropdown"></button>
        </div>
        <div class="button-bar"></div>
        <div class="button-bar">
            <button id="ozoneRGBColor-button50" style="color:#E90000;" class="button button-stable  button-block icon ion-android-bulb"></button>
            <button id="ozoneRGBColor-button51" style="color:#01EE01;" class="button button-stable  button-block icon ion-android-bulb"></button>
            <button id="ozoneRGBColor-button52" style="color:#0101F1;" class="button button-stable  button-block icon ion-android-bulb"></button>
        </div>
        <div class="button-bar">
            <button id="ozoneRGBColor-button25" style="color:#EF6E01;" class="button button-stable  button-block icon ion-android-bulb"></button>
            <button id="ozoneRGBColor-button26" style="color:#01F4B0;" class="button button-stable  button-block icon ion-android-bulb"></button>
            <button id="ozoneRGBColor-button27" style="color:#6100F9;" class="button button-stable  button-block icon ion-android-bulb"></button>
        </div>
        <div class="button-bar">
            <button id="ozoneRGBColor-button28" style="color:#EF9701;" class="button button-stable  button-block icon ion-android-bulb"></button>
            <button id="ozoneRGBColor-button29" style="color:#01F4B0;" class="button button-stable  button-block icon ion-android-bulb"></button>
            <button id="ozoneRGBColor-button30" style="color:#7C00F0;" class="button button-stable  button-block icon ion-android-bulb"></button>
        </div>
        <div class="button-bar">
            <button id="ozoneRGBColor-button31" style="color:#F1BA00;" class="button button-stable  button-block icon ion-android-bulb"></button>
            <button id="ozoneRGBColor-button32" style="color:#00E4E4;" class="button button-stable  button-block icon ion-android-bulb"></button>
            <button id="ozoneRGBColor-button33" style="color:#A500F9;" class="button button-stable  button-block icon ion-android-bulb"></button>
        </div>
        <div class="button-bar">
            <button id="ozoneRGBColor-button34" style="color:#F1BA00;" class="button button-stable  button-block icon ion-android-bulb"></button>
            <button id="ozoneRGBColor-button35" style="color:#01CEF0;" class="button button-stable  button-block icon ion-android-bulb"></button>
            <button id="ozoneRGBColor-button36" style="color:#C201F2;" class="button button-stable  button-block icon ion-android-bulb"></button>
        </div>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>