<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Ozone RGB Modes</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-toggle toggle-class="toggle-positive" ng-checked="true" onclick="togglePower();" name="power">Power (12V)</ion-toggle>
                <ion-item ui-sref="ozoneRGBModes.ozoneRGBColor" menu-close="">Color</ion-item>
                <ion-item>Animation</ion-item>
                <ion-item ui-sref="ozoneRGBModes.ozoneRGBAnimation" menu-close="">Party</ion-item>
                <ion-item ui-sref="ozoneRGBModes.ozoneRGBAnimation" menu-close="">AmbiLight</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>